/*______________MAIN STYLE______________*/

.header {
  background-color: #333333;
  padding-top: 2px;
  height: 111px;
}

.content__left {
  animation: none;
  opacity: 1;
}

.content__right {
  opacity: 1;
  animation: none;
}

.products__container {
  padding-top: 100px;
  padding-bottom: 150px;
}

.products__sort-wrap {
  padding-bottom: 53px;
}

.products__sort-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.products__sort-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  min-height: 40px;
}

.products__sort-label {
  white-space: pre-wrap;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 9px;
}

.products__sort-label-triangle {
  position: absolute;
  top: 9px;
  right: 1px;
  width: 0;
  height: 0;
  border-top: 8px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.products__sort-list {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  gap: 15px;
  display: none;
  flex-direction: column;
  z-index: 2;
  animation: submenu 0.7s ease 0s 1 normal forwards;
  background-color: rgba(249, 249, 249, 0.7960784314);
}

.products__sort-list button {
  width: 100%;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
}

.products__sort-list:last-child {
  padding-bottom: 15px;
}

.products__sort-list--opend {
  border-top: 10px solid rgb(100, 100, 100);
  border-bottom: 10px solid rgb(100, 100, 100);
  background-color: #d6d6d6;
  padding: 10px 0;
  top: 34px;
  right: 0;
  display: flex;
}

.products__sort-list--opend button {
  background-color: transparent;
}

@keyframes submenu {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

.products__items-wrap {
  position: relative;
  overflow: hidden;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  grid-auto-rows: 439px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 120px;
  grid-auto-flow: dense;
  padding-bottom: 60px;
}

.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product__item--added {
  animation: added-item 600ms ease 0s 1 normal forwards;
}

@keyframes added-item {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.product__item-pic-wrap {
  height: 280px;
  height: 220px;
  margin-bottom: 25px;
}

.product__item-product-link {
  display: block;
  width: 100%;
  height: 100%;
}

.product__item-product-link picture,
.product__item-product-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__item-separation-line-1 {
  pointer-events: none;
  position: absolute;
  bottom: -61px;
  left: 0;
  width: 1110px;
  border-bottom: 1px solid #D6D6D6;
}

.product__item-separation-line-2 {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  bottom: -61px;
  left: 0;
  width: 1110px;
  border-bottom: 1px solid #D6D6D6;
}

.product__item-upper-text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product__item-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 15px;
}

.product__item-buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.125rem;
  line-height: 1.15;
  letter-spacing: 0.05625rem;
  text-transform: uppercase;
  color: white;
  background-color: #333333;
}

.product-items-addmore-button {
  background-color: #333333;
  color: white;
  padding: 15px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.15;
  letter-spacing: 0.1125rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 3;
}

.product-items-hide-line {
  position: absolute;
  width: 100%;
  bottom: 49px;
  left: 0;
  border-top: 30px solid #f9f9f9;
  z-index: 3;
  pointer-events: none;
}

.textblock__container {
  padding-bottom: 151px;
}

.textblock__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 95px;
  gap: 50px;
}

.textblock__text {
  position: relative;
  max-width: 540px;
  max-height: 240px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5;
}

.textblock__text .textblock__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(249, 249, 249, 0), #F9F9F9);
  transition: all 800ms ease;
}

.textblock__text .textblock__expand-button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 3;
  color: #333333;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.1125rem;
  line-height: 1.22;
  border-bottom: 1px dotted #333333;
}

.textblock__text--opend {
  max-height: none;
}

.textblock__text--opend .textblock__expand-button {
  display: none;
}

.textblock__text--opend .textblock__gradient {
  opacity: 0;
  pointer-events: none;
}

.textblock__pics {
  max-width: 277px;
  max-height: 296px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  grid-auto-rows: 133px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 30px;
}

.textblock__pics-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 133px;
}

.textblock__pics-wrap picture,
.textblock__pics-wrap img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}

.textblock__pics-label {
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
}

.no_webp .newsletter {
  background-image: url(../img/section_bg.png); }

.newsletter {
  background-size: 200px;
  width: 100%;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 122px;
}

.newsletter__uppertext {
  text-align: center;
  font-size: 1.3125rem;
  line-height: 1.4;
  color: white;
}

.newsletter__title {
  text-align: center;
  padding-top: 20px;
  font-family: NotoSerif;
  font-size: 1.875rem;
  color: white;
}

.newsletter__emailform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;
  padding-top: 65px;
}

.emailform__sidetext {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidetext {
  padding-right: 5px;
  position: relative;
  font-size: 1.125rem;
  line-height: 1.4;
  color: white;
}

.icon-triangle-right::before {
  position: absolute;
  font-size: 14px;
  top: 5px;
  left: -32px;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
  border: 1px solid white;
  padding: 13px 14px;
}

.form__body {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 18px 22px;
}

.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  padding: 15px 20px;
  border: 1px solid #D6D6D6;
  color: #333333;
  transition: all 300ms ease 0ms;
}

.form__input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5019607843);
}

.form__input::placeholder {
  color: rgba(51, 51, 51, 0.5019607843);
}

.form__input:focus {
  box-shadow: 0px 0px 50px 1px #afafaf inset;
}

.form__button {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 34px;
  margin: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  color: white;
  transition: all 300ms ease 0ms;
}

@media (max-width: 1110px) {
  .products__container {
    padding-top: calc(25px + 75 * ((100vw - 320px) / 790));
  }

  .products__container {
    padding-bottom: calc(60px + 90 * ((100vw - 320px) / 790));
  }

  .product-items {
    grid-auto-rows: calc(240px + 199 * ((100vw - 320px) / 790));
  }

  .product-items {
    -moz-column-gap: calc(15px + 15 * ((100vw - 320px) / 790));
         column-gap: calc(15px + 15 * ((100vw - 320px) / 790));
  }

  .product-items {
    row-gap: calc(20px + 100 * ((100vw - 320px) / 790));
  }

  .product-items {
    padding-bottom: calc(35px + 25 * ((100vw - 320px) / 790));
  }

  .product__item-pic-wrap {
    height: calc(136px + 144 * ((100vw - 320px) / 790));
  }

  .product__item-pic-wrap {
    height: calc(120px + 100 * ((100vw - 320px) / 790));
  }

  .product__item-separation-line-1 {
    bottom: calc(-10px + -51 * ((100vw - 320px) / 790));
  }

  .product__item-separation-line-1 {
    width: calc(290px + 820 * ((100vw - 320px) / 790));
  }

  .product__item-separation-line-2 {
    bottom: calc(-10px + -51 * ((100vw - 320px) / 790));
  }

  .product__item-separation-line-2 {
    width: calc(290px + 820 * ((100vw - 320px) / 790));
  }

  .textblock__container {
    padding-bottom: calc(40px + 111 * ((100vw - 320px) / 790));
  }

  .newsletter__container {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 790));
  }

  .newsletter__container {
    padding-bottom: calc(25px + 97 * ((100vw - 320px) / 790));
  }

  .newsletter__emailform {
    gap: calc(15px + 60 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1023px) {
  .textblock__wrap {
    padding: 0 20px;
  }
}

@media (max-width: 809px) {
  .newsletter__emailform {
    flex-direction: column;
  }

  .emailform__sidetext {
    padding-left: 34px;
  }
}

@media (max-width: 767px) {
  .textblock__wrap {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .textblock__text {
    order: 2;
  }

  .textblock__pics {
    order: 1;
  }
}

@media (max-width: 731px) {
  .product__item-pic-wrap {
    width: 100%;
    margin-bottom: 15px;
  }

  .product__item-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .product__item-buy-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 621px) {
  .item-3 {
    grid-column: 1;
    grid-row: 2;
  }

  .product__item-separation-line-2 {
    opacity: 1;
  }
}

@media (max-width: 479px) {
  .form__body {
    flex-direction: column;
    width: 81vw;
  }
}

@media (max-width: 379px) {
  .products__sort-item {
    width: 130px;
  }
}

@media (hover: hover) {
  .products__sort-item:hover ul {
    display: flex;
  }

  .products__sort-list button:hover {
    background-color: rgba(158, 158, 158, 0.3294117647);
  }

  .product__item-product-link {
    transition: all 300ms ease;
  }

  .product__item-product-link:hover {
    box-shadow: 0px 0px 13px 4px rgb(99, 99, 99);
  }

  .product__item-buy-button {
    transition: all 300ms ease;
  }

  .product__item-buy-button:hover {
    box-shadow: 0px 0px 45px 12px #c4c4c4 inset;
    color: #000;
  }

  .product-items-addmore-button {
    transition: all 300ms ease;
  }

  .product-items-addmore-button:hover {
    box-shadow: 0px 0px 55px 15px #c4c4c4 inset;
    color: #000;
  }

  .form__button:hover {
    box-shadow: 0px 0px 50px 1px #ebebeb inset;
    color: #000;
  }
}

@media (pointer: coarse) {
  .product__item-product-link {
    transition: all 300ms ease;
  }

  .product__item-product-link:active {
    transform: scale(0.9);
  }

  .product__item-buy-button {
    transition: all 300ms ease;
  }

  .product__item-buy-button:active {
    box-shadow: 0px 0px 45px 12px #c4c4c4 inset;
    color: #000;
  }

  .product-items-addmore-button {
    transition: all 300ms ease;
  }

  .product-items-addmore-button:active {
    box-shadow: 0px 0px 55px 15px #c4c4c4 inset;
    color: #000;
  }
}

@media (pointer: course) {
  .form__button:active {
    box-shadow: 0px 0px 50px 1px #ebebeb inset;
    color: #000;
  }
}

.webp .newsletter { background-image: url(../img/section_bg.webp); }